<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Publisher</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
<div id="container">
    <img src="/logo_NightSky.png" class="logo"/>
    <div class="link_tipo"><a href="/voltarcadastro_dev">Desenvolvedor</a></div>
    <div class="link_tipo"><a href="/voltarcadastro_jogador">Jogador</a></div>
</div>
<h1>Cadastrar publisher</h1>
<div id = "formulario_publisher">
    <form method="post" action="/cadastrar_publisher">
        <br>
        <p>Nome: <br><input type="text" name="nome"></p>
        <p>Email: <br><input type="text" name="email"></p>
        <p>Senha: <br><input type="password" name="senha"></p>
        <p>CNPJ: <br><input type="text" name="cnpj"></p>
        <% if (resposta) { %>
            <p><%= resposta %></p>
        <% } %>
        <div id="botao_cadastro">
            <input type="submit" value="Cadastrar-se">
        </div>
    </form>
    <br>
    <div class="link_cadastro"> Já possui uma conta?<a href="/voltarlogin">Faça login!</a></div>
</div>
</body>
</html>